// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here



$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: 700;
}

// header css
#wrapper-navbar {
	height: 160px;
	background-color: $primary;
	box-shadow: 0 0 35px rgba(0, 2, 35, 0.2);
	position: fixed;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 999;
	.header-logo {
		display: none;
	  }
	@media(max-width:$lg){

	
		.header-logo {
		  display: block;
		  width: 72px;
		}
	}
	
	#main-nav {
		height: 100%;
		width: 1170px;
		margin: 0 auto;
		.header-logo {
			display: block;
			height: 110px;
			width: 72px;
			a {
				width: 100%;
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
		@media(max-width:$lg){
			.header-logo {
			  display: none;
			 
			}
		}
	}

	// off-canvas-header css
    .offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
	
@media all and (max-width:992px) { 

 .offcanvas-header{ display:block; }
 
 .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; right:0;
    height: 100%;
	z-index: 1200;
	background-color: #273272;
    width:280px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }

  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
  }

 .btn-danger {
	margin-top: -4%;
    margin-right: -7%;
	background: black !important;
	width: 50px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	height: 50px;
	border: none;
	cursor: pointer;
}

.btn-warning{
	background-color: transparent;
	border:none;
	position: absolute;
	right: 0;
	.hamburger-wrapper{
		background: black;
		width: 40px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

        
		div{
			background: #ff0000;
			width: 25px;
			height: 2px;
			margin: 3px;
		}
	}
}

}


}
@media(max-width:$lg){

	
	#wrapper-navbar {
	 justify-content: space-between;
	}
}

// carosel button css
#n2-ss-2 .nextend-arrow img {
	background: #7f7f7f;
	line-height: 40px;
	border-radius: 50%;
	
	font-weight: 700;
	
}

.bg-primary {
  

	@media(max-width:$lg){
	
		background-color: #273272!important;
		background-image: url(../src/images/bg-main.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
	}

}

#navbarNavDropdown{
	justify-content: center;

	@media(max-width:$lg){
		display: block;
		
		color: #ffffff;
	}

}

#navbarNavDropdown #main-menu .menu-item .nav-link {
	font-size: 18px;
	color: black;
	padding: 30px 10px;
	white-space: nowrap;
	display: block;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	position: relative;
	@media(max-width:$lg){
	    font-family: 'Poppins';
		color: #c6d3e3;
		text-transform: capitalize;

		
	}

	&:hover {
	
		color: #ff0000;
		@media(max-width:$lg){
			color: #ffffff;
		}
	}
	&::before{
		content: "";
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: #ff0000;
		transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
		transform:scaleX(0);
		transform-origin: left;
		@media(max-width:$lg){
			display: none;
		}
	}
	
}

#navbarNavDropdown #main-menu .menu-item .nav-link:hover::before{
	transform: width 20px;
	background:  #ff0000;
	transform:scaleX(1);
}

  #main-nav .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black; 
    border: 1px solid transparent; 
	border-radius: .25rem;
	margin-right: 20%;
}
	


// homepage css

.homepage-wrapper {
    padding: 160px 0;
}

.homepage-wrapper-one {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(../src/images/pattern1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5%;
}

.homepage-cards-container {
	width: 70%;
	height: 100%;
	margin: auto;
	display: flex;
    justify-content: center;

	.homepage-cards-container:last-child{
		margin-right: 0;
	}
}

.homecards {
	background-color: #ffffff;
	margin-top: 60px;
	margin-bottom: 30px;
	height:356px;
	width: 371px;
	margin-right: 30px;
	transition:transform 0.3s ease-in-out;
	transform:translateY(0px);
	box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);
	  
	&:hover{
		transform:translateY(-20px);
	
	}

	.col-lg-4 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.find-out-more-btn {
		position: relative;
		padding: 0 30px;
		cursor: pointer;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background:#ffffff;
		z-index: 1;

		&::before{
			content: "";
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: #ffffff;
			transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			transform:scaleX(0);
			transform-origin: left;
			z-index: -1;
		}

		a {
			color: #182158;
			text-decoration: none;
			flex: 1;
			font-family: 'Rubik';
			font-size: 12px;
			font-style: normal;
			transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			&:hover{
				color: #ffffff;
			}
		}
       img{
		 opacity: 0.3;
		 margin-right: 58%;

	
		
	   }
	
	
	}
	
	.find-out-more-btn:hover::before{
		color: #ffffff;
		background:  #ff0000;
		transform:scaleX(1);
	}
.homecard-top-part{
	padding: 30px;
	.homepage-cards-links {
		color: #ff0000;
		padding: 30px 30px 0 0;
		padding-bottom: 15px;
		text-decoration: none;
		font-weight: 700;
		width: 100%;
		height: 100%;
		font-size: 18px;
		font-family: "Roboto Condensed";
		
	
	}
	p{
		font-size: 14px;
		font-style: normal;
		color: #565872;
		font-weight: normal;
    
    line-height: 1.625em;
	}
}

	
	
	
}

.homepage-wrapper-two {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(../src/images/pattern2.png);
	background-color: #020620 ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;

	.homepage-video-container {
		
		width: 70%;
		height: 100%;
		margin: auto;
		padding-bottom: 40px;
		.homepage-video-h1 {
			font-family: 'Roboto Condensed', sans-serif ;
			color: #8d8ea3;
			font-size: 3.625rem;
            margin-top: 0;
		   font-weight: 300;
		   width: 100%;
			& strong {
				color: #ffffff;
				font-weight: bold;
			}
		}
		p {
			color: #8d8ea3;
			font-style: normal;
			font-weight: normal;
		}
		a{
			font-family: 'Rubik';
			font-size: 12px;
			font-style: normal;
		}
	}
}

.homepage-wrapper-three {
	width: 100%;
	height: 100%;
	.our-products-text {
		box-shadow: 0 3px 40px rgba(2, 6, 2, 0.1);

		.homepage-heading {
			text-align: center;
			padding: 50px 0;
			font-weight: 700;
			font-style: italic;
			font-family: 'Roboto Condensed', sans-serif ;
			color: #ff0000;
			text-transform: none;
			font-size: 2.25rem;
			line-height: 1.2em;
		
		}
	}
}

.homepage-wrapper-four {
	width: 70%;
	height: 100%;
	margin: auto;
	margin-bottom: 35px;

     

	// bg colors for hover
	.orange {
		background: #ff6600;
	}
	.magenta {
		background: #ef057e;
	}

	.blue {
		background: #009fc5;
	}

	.green {
		background: #008737;
	}

	.purple {
		background: #c53095;
	}

	.darkblue {
		background: #14007b;
	}

	.light-green {
		background: #99cf16;
	}

	.grey {
		background: #4b4a4b;
	}

	.single-product {
		background-color: transparent;
	width: 100%;
	height: 100%;
		
		perspective: 1000px;
		margin-right: 0 !important;

		.single-product-inner {
			position: relative;
			width: 100%;
			height: 257px;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
			.single-product-f,
			.single-product-b {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden; /* Safari */
				backface-visibility: hidden;
			}

			.single-product-f img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:hover .single-product-inner {
			transform: rotateY(180deg);
		}

		.single-product-b {
			color: white;
			transform: rotateY(180deg);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

// best franchise css
.best-franchise-home {
	width: 100%;
	height: 100%;
	margin-bottom: 45px;
	.best-franchise-wrapper {
		width: 70%;
		height: 100%;
		margin: auto;
	}

	h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 32px;
		color: #d6002a;
		text-align: center;
		margin-bottom: 40px;
		font-style: italic;
		
	}
	
	.col-lg-4{
		margin-bottom: 3%;
	}

	.box-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		
        flex-direction: column;
		box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);

		@media (max-width:$lg){
			
			
		}
		
		.shopping-bag-box {
			width: 100%;
			padding: 20px 30px ;
			background-color: #ff0000;
			text-align: center;
			
			i {
				
				font-size: 52px !important;
				color: #ffffff;
				margin-bottom: 30px;
			}
			h6 {
				text-align: center;
				color: #ffffff;
				font-size: 14px;
			}

			
		}
		.shopping-bag-box2{
			background: #d6002a;
			width: 100%;
			padding: 20px 30px ;
			text-align: center;
			i {
				
				font-size: 52px !important;
				color: #ffffff;
				margin-bottom: 30px;
			}
			h6 {
				text-align: center;
				color: #ffffff;
				font-size: 14px;
			}
		}
		.shopping-bag-box3{
		   background: #0095a6;
		   width: 100%;
		   padding: 20px 30px ;
		   text-align: center;
		   i {
				
			font-size: 52px !important;
			color: #ffffff;
			margin-bottom: 30px;
		}
		h6 {
			text-align: center;
			color: #ffffff;
			font-size: 14px;
		}
		}
		.box-detail {
			background: #ffffff;
			padding: 20px 30px;
			margin-bottom: 5%;
			
			a {
				color: #00ae14;
			}
			&:hover {
				background-color: #ff0000;
			}
		}
		&:hover {
			background-color: #ff0000;
		}
	}
}

// blog-single-post css
.entry-content{
	padding-top: 20%;

	h1{
		margin: 0 0 20px 0;
		font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: italic;
    color: #ff0000;
   
    font-size: 2.25rem;
    line-height: 1.2em;
	}

	p{
		font-family: 'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 15px;
		line-height: 1.625em;
		font-weight: normal;
	}
	h4{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 1.25rem;
		line-height: 1.25em;
	}
	h2{
		font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: italic;
    color: #ff0000;
    text-transform: none;
    font-size: 2.25rem;
    line-height: 1.2em;
}
	}




// footer css
.site-footer{
	background: #273272 url(../src/images/bg-about.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5%;
} 

.footer-middle{
	
	height: 100%;
	width: 100%;
	
	.container-fluid{
		width: 70%;
		margin: auto;
		padding: 20px 0 50px 0;

		.find-container,.info-container,.contact-footer-container{
			h3{
				font-family: 'Poppins', sans-serif;
				font-style: normal;
				color: #ffffff;
			}
			p{
				font-family: 'Rubik', sans-serif;
				font-style: normal;
				color: rgba(255, 255, 255, 0.5);
				font-size: 14px;

				a{
					color: #c6d3e3;
				}
			}

		}
		.info-container a{
			color: #c6d3e3;
			font-family: 'Rubik', sans-serif;
			font-style: normal;
			margin-bottom: 11px;
			margin-right: 10px;
			font-size: 14px;
			line-height: 1.4;
		}
	}
	.contact-footer-container {
		
	#wpforms-89-field_1-container #wpforms-89-field_1{
		width: 100%;
		margin-top: 15px;
			height: 50px;
			background: transparent;
			padding: 0 15px;
			background: rgba(255, 255, 255, 0.07);
    font-family: 'Rubik';
    font-style: normal;
    color: #7a7a7a;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 0px;
		}
	}
	.wpforms-submit-container .footer-sign-up{
		background: #c6d3e3;
    height: 50px;
    font-family: 'Rubik';
    font-style: normal;
    color: #182158;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 100%;
	transition:0.3s ease-in-out;
	&:hover{
		background: #ff0000;
	 }
	
	}

	

}
.footer-bottom-copyright{
	background: #ffffff;
	height: 156.83px;
	width: 100%;
	
	.container-fluid{
		width: 70%;
		margin: auto;
		padding: 30px;
	}
	.social-icons{
		width: 100%;
		height: 100%;
		display: flex;
    justify-content: center;
	align-items: center;
	
	
		.social-icons-footer {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: #ffffff;
		
			text-decoration: none;
			margin-right: 10px;
			line-height: 35px;

			.fa-facebook-f{
				background: #3b5998;
				width: 100%;
				height: 100%;
				font-size: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-instagram{
				background: #d84b60;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-twitter{
				background: #1da1f2;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-youtube-play{
				background: #f36251;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-pinterest-p{
				background: #cb2027;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-tumblr{
				background: #34586f;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.go-to-up {
			display: block;
			cursor: pointer;
			span{
				color: #00a914 !important;
			}
				
			
			
		}
		
	}
}


	

.footer-top{
	
	position: relative;
	height:100%;
	width: 100%;
	
	.container-fluid{
		width: 70%;
		margin: auto;
		padding: 30px;


		.start-your-business{
			margin-right: 10px;
			@media (max-width:$lg){
				margin-bottom: 15%;
				margin-right: 0;
			}
		}
		.start-your-business,.join-our-team{
			
			background: #ffffff;
			margin-top: -70px;
			border-top:2px solid #000000;
			box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);
			.footer-info-box{
				padding: 30px;
				display: flex;
				align-items: flex-start;
              img{
				  margin-right: 30px;
				 
			  }
			  img:hover{
				color: #ff0000;
			  }
				a{
					font-family: 'Roboto Condensed';
                     font-weight: 700;
					font-style: italic;
					text-decoration: none;
                     color: #ff0000;
					text-transform: none;
					font-size: 1.25rem;
					line-height: 1.25em;
				}
			}
		}
	}
}

// instagram home section
.best-instagram-feed{
	width: 100%;
	height: 100%;

	.instagram-section-title{
		text-align: center;
		color: #ff0000;
		font-weight: bold;
		font-size: 36px;
	}
}

// who we are css

.page-title{
	width: 70%;
	height: 100%;
	background: url(../src/images/bg-tb.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: scroll;
	margin: 0 auto;
    padding-top: 160px;
    padding-right: 0px;
    padding-bottom: 70px;
	padding-left: 0px;
	text-align: end;
	h1{
	    font-family: 'Poppins';
    font-weight: 800;
    color: #d6002a;
    text-transform: none;
    font-size: 2rem;
    line-height: 1.15em;
	}
}

.rev-slider-wrapper{
	height: 400px;
	background: #ccc;
}

.best-for-pdf{
    padding-top: 80px !important;
    padding-bottom: 40px !important;
    background: #020620 url(../src/images/bg-main.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-size: cover !important;
	text-align: center;
	z-index: 90;
	width: 100%;
	height: 100%;
	padding-left: 352px!important;
	padding-right: 352px!important;
}

.best-for-pdf .best-for-link-brochure {
	
			color: #00a914;
			text-decoration: none;
			margin-bottom: 30px;
			
		
	}

	// franchise page css
	.franchise-banner{
		width: 70%;
		height: 100%;
		margin: auto;
    padding-top: 100px !important;
    margin-bottom: 150px 0!important;
    background-image: url(../src/images/franchise-program-bestfor.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-size: cover !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h2{
		font-size: 48px;
		padding: 30px;
		color: #dd3333;
		background-color: rgba(255,255,255,0.88) ;
		margin-bottom: 10%;
	}
}

.franchise-desc{
	width: 100%;
	height: 100%;
	margin-top: 100px;
	.container-fluid{
		width: 70%;
		margin: auto;
	}
	.franchise-desc-1,.franchise-desc-2,.franchise-desc-3{
	   margin-bottom: 30px;
	   display: flex;
	   margin-top: 60px;

	   h3{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 1.5rem;
		line-height: 1.15em;
		width: 20%;
	   }
	   ul li,p{
		font-family: 'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 15px;
		line-height: 1.625em;
		font-weight: normal;
	   }
	}
	.zigzap-wrapper{
		text-align: center;
		.zigzag-inner{
			width: 70%;
			margin: auto;
    min-height: 14px;
    background: 0 repeat-x url(data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E);
		}
	}
}