// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here



$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;


html{
	scroll-behavior:smooth;
}


body{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: 700;
	overflow-x: hidden;
}

// header css
.site-topbar{
	background-color: #01779f;
	width: 100%;
	height: 44px;
	display: block;
	position: fixed;
	z-index: 999;
	.site-topbar-inner{
		width: 70%;
		height: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
           
		@media(max-width:$md){
			width: 100%;
			margin-right: 30px;
		}

		.site-topbar-inner-right{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media(max-width:$lg){
				width: 100%;
			}
			@media(max-width:$md){
				justify-content: center;
			}

			.topbar-text{
				a{
					font-family: 'Roboto Condensed';
					font-weight: 700;
					color: #ffffff;
					font-size: 15px;
					transition: all 0.2s ease-in-out 0s;
					padding-right: 5px;
					text-decoration: none;
					i{
						padding-right: 3px;
						&:hover{
							color: #000000;
						}
					}

					&:hover{
						color: #000000;
					}
				}
			}

		}
		.site-topbar-inner-left{
			width: 50%;

			@media(max-width:$lg){
				width: 0%;
			}
		}
	}
}


#wrapper-navbar {
	height: 160px;
	background-color: $primary;
	box-shadow: 0 0 35px rgba(0, 2, 35, 0.2);
	position: fixed;
	top: 44px;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 999;
	.header-logo, .header-search {
		display: none;
	  }
	@media(max-width:$lg){

	
		.header-logo {
		  display: block;
		  width: 72px;
		  margin-left: 30px;
		}
		.header-search{
		 display: block;
		}
	}
	
	#main-nav {
		height: 100%;
		width: 100%;
		
		.header-logo {
			display: block;
			height: 110px;
			width: 72px;
			a {
				width: 100%;
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
		@media(max-width:$lg){
			.header-logo {
			  display: none;
			 
			}
		}
	}

	// off-canvas-header css
    .offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
	
@media all and (max-width:992px) { 

 .offcanvas-header{ display:block; }
 
 .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; right:0;
    height: 100%;
	z-index: 1200;
	background-color: #273272;
    width:280px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }

  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
  }

 .btn-danger {
	margin-top: -4%;
    margin-right: -7%;
	background: black !important;
	width: 50px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	height: 50px;
	border: none;
	cursor: pointer;
}

.btn-warning{
	background-color: transparent;
	border:none;
	position: absolute;
	right: 0;
	.hamburger-wrapper{
		background: black;
		width: 40px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

        
		div{
			background: #ff0000;
			width: 25px;
			height: 2px;
			margin: 3px;
		}
	}
}

}


}
@media(max-width:$lg){

	
	#wrapper-navbar {
	 justify-content: space-between;
	}
}

// carosel button css
#n2-ss-2 .nextend-arrow img {
	background: #7f7f7f;
	line-height: 40px;
	border-radius: 50%;
	
	font-weight: 700;
	
}

.bg-primary {
  
  width: 70%;
  margin: 0 auto;
	@media(max-width:$lg){
	
		background-color: #273272!important;
		background-image: url(../src/images/bg-main.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
	}

}

#navbarNavDropdown{
	justify-content: center;

	@media(max-width:$lg){
		display: block;
		
		color: #ffffff;
	}

}

#navbarNavDropdown #main-menu .menu-item .nav-link {
	font-size: 18px;
	color: black;
	padding: 30px 10px;
	white-space: nowrap;
	display: block;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	position: relative;
	@media(max-width:$lg){
	    font-family: 'Poppins';
		color: #c6d3e3;
		text-transform: capitalize;

		
	}

	&:hover {
	
		color: #ff0000;
		@media(max-width:$lg){
			color: #ffffff;
		}
	}
	&::before{
		content: "";
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: #ff0000;
		transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
		transform:scaleX(0);
		transform-origin: left;
		@media(max-width:$lg){
			display: none;
		}
	}
	
}

#navbarNavDropdown #main-menu .menu-item .nav-link:hover::before{
	transform: width 20px;
	background:  #ff0000;
	transform:scaleX(1);
}

  #main-nav .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black; 
    border: 1px solid transparent; 
	border-radius: .25rem;
	margin-right: 20%;
}
	


// homepage css

.homepage-wrapper {
    padding-top: 160px;

	@media(max-width:$md){
		padding-top: 206px; 
	}
}

.homepage-wrapper-one {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(../src/images/pattern1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5%;
}

.homepage-cards-container {
	width: 70%;
	height: 100%;
	margin: auto;
	display: flex;
    justify-content: center;

	@media (max-width:$lg){
		width: 100%;
	}

	.homepage-cards-container:last-child{
		margin-right: 0;
	
	}
}

.homecards {
	background-color: #ffffff;
	margin-top: 60px;
	margin-bottom: 30px;
	height:356px;
	width: 371px;
	margin-right: 30px;
	transition:transform 0.3s ease-in-out;
	transform:translateY(0px);
	box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);
	@media (max-width:$lg){
		margin-bottom: 15%;
	}
	@media (max-width:$sm){
		margin-right: 0px;
	}
	&:hover{
		transform:translateY(-20px);
	
	}

	.col-lg-4 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.find-out-more-btn {
		position: relative;
		padding: 5px 30px;
		cursor: pointer;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background:#ffffff;
		z-index: 1;
		

		&::before{
			content: "";
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: #ffffff;
			transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			transform:scaleX(0);
			transform-origin: left;
			z-index: -1;
		}

		a {
			color: #182158;
			text-decoration: none;
			flex: 1;
			font-family: 'Rubik';
			font-size: 12px;
			font-style: normal;
			transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
			display: flex;
		justify-content: space-between;
		align-items: center;
			&:hover{
				color: #ffffff;
			}

			i{
				font-size: 40px;
			}
		}
      
	
	
	}
	
	.find-out-more-btn:hover::before{
		color: #ffffff;
		background:  #ff0000;
		transform:scaleX(1);
	}
.homecard-top-part{
	padding: 30px;
	.homepage-cards-links {
		color: #ff0000;
		padding: 30px 30px 0 0;
		padding-bottom: 15px;
		text-decoration: none;
		font-weight: 700;
		width: 100%;
		height: 100%;
		font-size: 18px;
		font-family: "Roboto Condensed";
		
	
	}
	p{
		font-size: 14px;
		font-style: normal;
		color: #565872;
		font-weight: normal;
    
    line-height: 1.625em;
	}
}

	
	
	
}

.homepage-wrapper-two {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(../src/images/pattern2.png);
	background-color: #020620 ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;

	.homepage-video-container {
		
		width: 70%;
		height: 100%;
		margin: auto;
		padding-bottom: 40px;

		@media(max-width:$md){
			
				width: 100%;
			
		}

		.home-vid-desc{
			margin-bottom: 10px;
		}

		.yt-player{
			@media(max-width:$md){
				iframe{
					width: 100%;
				}
			}
		}
		.homepage-video-h1 {
			font-family: 'Roboto Condensed', sans-serif ;
			color: #8d8ea3;
			font-size: 3.625rem;
            margin-top: 0;
		   font-weight: 300;
		   width: 100%;
			& strong {
				color: #ffffff;
				font-weight: bold;
			}

			@media(max-width:$md){
				font-size: 2.4rem;
			}
		}
		p {
			color: #8d8ea3;
			font-style: normal;
			font-weight: normal;
		}
		a{
			font-family: 'Rubik';
			font-size: 12px;
			font-style: normal;
		}
	}
}

.homepage-wrapper-three {
	width: 100%;
	height: 100%;
	.our-products-text {
		box-shadow: 0 3px 40px rgba(2, 6, 2, 0.1);

		.homepage-heading {
			text-align: center;
			padding: 50px 0;
			font-weight: 700;
			font-style: italic;
			font-family: 'Roboto Condensed', sans-serif ;
			color: #ff0000;
			text-transform: none;
			font-size: 2.25rem;
			line-height: 1.2em;
		
		}
	}
}

.homepage-wrapper-four {
	width: 70%;
	height: 100%;
	margin: auto;
	margin-bottom: 35px;

	@media(max-width:$md){
		width: 100%;
	}     

	// bg colors for hover
	.orange {
		background: #ff6600;
	}
	.magenta {
		background: #ef057e;
	}

	.blue {
		background: #009fc5;
	}

	.green {
		background: #008737;
	}

	.purple {
		background: #c53095;
	}

	.darkblue {
		background: #14007b;
	}

	.light-green {
		background: #99cf16;
	}

	.grey {
		background: #4b4a4b;
	}

	.single-product {
		background-color: transparent;
	width: 100%;
	height: 100%;
		
		perspective: 1000px;
		margin-right: 0 !important;
        margin-bottom:5px ;
		.single-product-inner {
			position: relative;
			width: 100%;
			height: 257px;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
			.single-product-f,
			.single-product-b {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden; /* Safari */
				backface-visibility: hidden;
			}

			.single-product-f img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:hover .single-product-inner {
			transform: rotateY(180deg);
		}

		.single-product-b {
			color: white;
			transform: rotateY(180deg);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

// best franchise css
.best-franchise-home {
	width: 100%;
	height: 100%;
	margin-bottom: 45px;
	.best-franchise-wrapper {
		width: 70%;
		height: 100%;
		margin: auto;

		@media(max-width:$sm){
         width: 100%;
		}
	}

	h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 32px;
		color: #d6002a;
		text-align: center;
		margin-bottom: 40px;
		font-style: italic;
		
	}
	
	.col-lg-4{
		margin-bottom: 3%;
	}

	.box-wrapper1,.box-wrapper2,.box-wrapper3 {
		width: 100%;
		height: 100%;
		display: flex;
		
        flex-direction: column;
		box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);

		
		
		.shopping-bag-box {
			width: 100%;
			padding: 20px 30px ;
			background-color: #ff0000;
			text-align: center;
			
			i {
				
				font-size: 52px !important;
				color: #ffffff;
				margin-bottom: 30px;
			}
			h6 {
				text-align: center;
				color: #ffffff;
				font-size: 14px;
			}

			
		}
		.shopping-bag-box2{
			background: #d6002a;
			width: 100%;
			padding: 20px 30px ;
			text-align: center;
			i {
				
				font-size: 52px !important;
				color: #ffffff;
				margin-bottom: 30px;
			}
			h6 {
				text-align: center;
				color: #ffffff;
				font-size: 14px;
			}
		}
		.shopping-bag-box3{
		   background: #0095a6;
		   width: 100%;
		   padding: 20px 30px ;
		   text-align: center;
		   i {
				
			font-size: 52px !important;
			color: #ffffff;
			margin-bottom: 30px;
		}
		h6 {
			text-align: center;
			color: #ffffff;
			font-size: 14px;
		}
		}
		.box-detail1,.box-detail2,.box-detail3 {
			background: #ffffff;
			padding: 20px 30px;
			position: relative;
			z-index: 1;
			
			i{
				font-size: 16px;
			}
			
			a {
				color: #00ae14;
				z-index: 1;
				font-size: 14px;
				font-weight: 500;
				font-family: 'Roboto Condensed';
				text-decoration: none;
				font-style: normal;
				
			}

			p{
				font-family:'Roboto Condensed';
				font-style: normal;
				color: #565872;
				font-size: 14px;
				line-height: 1.625em;
				font-weight: normal;
			}
		    @media(max-width:$lg){
				margin-bottom: 5%;
			}
		}

		.box-detail1::before,.box-detail2::before,.box-detail3::before{
	    content: '';
         position: absolute;
		 top: 0;
		 left: 0;
		 bottom:0;
		 width: 100%;
		 height: 100%;
		 transform: scaleY(0);
		 transform-origin: top;
		 transition: transform 0.3s ease-in-out;
		 z-index: -1;
		
		}
        
		.box-detail1:hover::before{
			transform:scaleY(1);
			background-color: #ff0000;
		}
        
		.box-detail2:hover::before{
			transform:scaleY(1);
			background-color: #d6002a;
		}

		.box-detail3:hover::before{
			transform:scaleY(1);
			background-color: #0095a6;
		}


		.box-detail1:hover 	a, .box-detail2:hover a, .box-detail3:hover a {
			color: rgba(255, 255, 255, 0.8);
			z-index: 1;
		}
		.box-detail1:hover p,.box-detail2:hover p, .box-detail3:hover p  {
			color: rgba(255, 255, 255, 0.8);
			z-index: 1;
		}

	
	}
}

.franchise-awards{
	width: 100%;
	height: 100%;
	margin-top: 5%;
	.container-fluid{
		width: 70%;
		margin: 0 auto;
		@media(max-width:$md){
			width: 100%;
		}
	}
	.franchise-awrads-wrapper{
		box-shadow: 0 0 35px rgba(2,6,32,0.1);
		margin-bottom: 30px;
		
	}
	
	


    .awards-image-holder{
		width: 100%;
		height: 100%;
		padding: 20px 30px;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h3{
			text-align: center;
			margin: 0;
			color: #ffffff;
			text-transform: uppercase;
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-style: italic;
			padding-top: 20px;
			font-size: 1rem;
			line-height: 1.15em;
		}
		
	}
	.awards-desc1{
		padding: 25px 30px;
		position: relative;
		z-index: 1;
		text-align: center;
		background: #ffffff;
		font-family:'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 14px;
		font-weight: normal;
		
		&::after{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			transform: scaleY(0);
			transform-origin: top;
			transition: all 0.2s ease-in-out 0s;
			z-index: -1;
			width: 100%;
			height: 100%;

		}
		&:hover::after{
			
				transform: scaleY(1);
			background-color: #020620 ;
			
		
		}
		&:hover{
			color: #ffffff;
		}

	}

	.awards-desc2{
		padding: 25px 30px;
		position: relative;
		z-index: 1;
		text-align: center;
		background: #ffffff;
		font-family:'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 14px;
		font-weight: normal;
		
		&::after{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			transform: scaleY(0);
			transform-origin: top;
			transition: all 0.2s ease-in-out 0s;
			z-index: -1;
			width: 100%;
			height: 100%;

		}
		&:hover::after{
			
				transform: scaleY(1);
				background-color: #ff0000;
			
		
		}
		&:hover{
			color: #ffffff;
		}

	}
	.awards-desc3{
		padding: 25px 30px;
		position: relative;
		z-index: 1;
		text-align: center;
		background: #ffffff;
		font-family:'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 14px;
		font-weight: normal;
		
		&::after{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			transform: scaleY(0);
			transform-origin: top;
			transition: all 0.2s ease-in-out 0s;
			z-index: -1;
			width: 100%;
			height: 100%;

		}
		&:hover::after{
			
				transform: scaleY(1);
				background-color: #00a914 ;
			
		
		}
		&:hover{
			color: #ffffff;
		}

	}

	.bg-blue{
		background-color: #020620 ;
	}
	.bg-orange{
		background-color: #ff0000;
	}
	.bg-green{
		background-color: #00a914 ;
	}
}

.franchise-testimonials{
	width: 100%;
	margin-left: 16%;

	@media(max-width:$lg){
		margin-left: 30px;
	}
	@media(max-width:$sm){
		margin-left: 20px;
		width: 98%;
	}
	 p{
		 padding-top: 10px;
		 font-family: Arial;
		 font-style: normal;
		 color: #565872;
		 font-weight: normal;
		 font-size: 15px;
	 }
}

.servicesandterms{
	width: 100%;
   
	.franchise-services-wrapper{
		margin: auto;
		width: 70%;
		margin: auto;
		display: flex;
		color: #565872;
		font-weight: normal;
		padding-top: 10px;
		font-family: Arial;
		font-style: normal;
		color: #565872;
		font-weight: normal;
		font-size: 15px;

		@media(max-width:$lg){
			width: 100%;
			flex-direction: column;
		}
		
	}

	ul{
		font-weight: bold;
		li{
			font-weight: normal;
		}
	}

}

.franchise-image-last{
	
	width: 70%;
	margin: 35px auto;
    
	img{
		max-width: 100%;
	
	}
}

// blog-single-post css

// img.wp-post-image{
// 	display: none  !important;
// }


.entry-content{
	padding-top: 20%;
	@media(max-width:$md){
		padding-top: 50%;
	}
	
	h1{
		margin: 0 0 20px 0;
		font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: italic;
    color: #ff0000;
   
    font-size: 2.25rem;
    line-height: 1.2em;

	 @media(max-width:$md){
		 font-size: 1.2rem;
	 }
	}

	p{
		font-family: 'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 15px;
		line-height: 1.625em;
		font-weight: normal;
	}
	h4{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 1.25rem;
		line-height: 1.25em;
	}
	h2{
		font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: italic;
    color: #ff0000;
    text-transform: none;
    font-size: 2.25rem;
    line-height: 1.2em;
}
	}




// footer css
.site-footer{
	background: #273272 url(../src/images/bg-about.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5%;
} 

.footer-middle{
	
	height: 100%;
	width: 100%;
	
	.container-fluid{
		width: 67%;
		margin: auto;
		padding: 20px 0 50px 0;

		@media(max-width:$lg){
			width: 100%;
			padding: 30px;
		}

		.find-container,.info-container,.contact-footer-container{

			@media(max-width:$md){
			
				margin-bottom: 30px;
				}
			h3{
				font-family: 'Poppins', sans-serif;
				font-style: normal;
				color: #ffffff;
			}
			p{
				font-family: 'Rubik', sans-serif;
				font-style: normal;
				color: rgba(255, 255, 255, 0.5);
				font-size: 14px;

				a{
					color: #c6d3e3;
				}
			}

		}
		.info-container a{
			color: #c6d3e3;
			font-family: 'Rubik', sans-serif;
			font-style: normal;
			margin-bottom: 11px;
			margin-right: 10px;
			font-size: 14px;
			line-height: 1.4;
		}
	}
	.contact-footer-container {
		
	#wpforms-89-field_1-container #wpforms-89-field_1{
		width: 100%;
		margin-top: 15px;
			height: 50px;
			background: transparent;
			padding: 0 15px;
			background: rgba(255, 255, 255, 0.07);
    font-family: 'Rubik';
    font-style: normal;
    color: #7a7a7a;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 48px;
    letter-spacing: 2px;
    padding-top: 0px;
		}
	}
	.wpforms-submit-container .footer-sign-up{
		background: #c6d3e3;
    height: 50px;
    font-family: 'Rubik';
    font-style: normal;
    color: #182158;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 100%;
	transition:0.3s ease-in-out;

	
	}

	.wpforms-submit-container .footer-sign-up:hover{
		background: #ff0000 !important;
		color: #ffffff;
	 }

}
.footer-bottom-copyright{
	background: #ffffff;
	height: 156.83px;
	width: 100%;
	
	.container-fluid{
		width: 70%;
		margin: auto;
		padding: 30px;

		@media(max-width:$lg){
			width: 100%;
			padding: 30px;
		}

		
		.header-logo{
			margin-bottom: 20px;
		}
	}
	.social-icons{
		width: 100%;
		height: 100%;
		display: flex;
    justify-content: flex-end;
	align-items: center;
	
	
		.social-icons-footer {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: #ffffff;
		
			text-decoration: none;
			margin-right: 10px;
			line-height: 35px;

			.fa-facebook-f{
				background: #3b5998;
				width: 100%;
				height: 100%;
				font-size: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-instagram{
				background: #d84b60;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-twitter{
				background: #1da1f2;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-youtube-play{
				background: #f36251;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-pinterest-p{
				background: #cb2027;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.fa-tumblr{
				background: #34586f;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.go-to-top {
			display: block;
			cursor: pointer;
			color: #00a914 !important;
			
			
				
			
			
		}
		
	}
}


	

.footer-top{
	
	position: relative;
	height:100%;
	width: 100%;
	
	.container-fluid{
		width: 70%;
		margin: auto;
		padding: 30px;
		@media (max-width:$lg){
			width: 100%;
		}

		.start-your-business{
			margin-right: 10px;
			@media (max-width:$lg){
				margin-bottom: 100px;
				margin-right: 0;
			}
		}
		.start-your-business,.join-our-team{
			
			background: #ffffff;
			margin-top: -70px;
			border-top:2px solid #000000;
			box-shadow: 0 0 35px rgba(2, 6, 32, 0.15);
			
			.footer-info-box{
				padding: 30px;
				display: flex;
				align-items: center;

				@media(max-width:$sm){
					padding: 10px;
				   }
				i{
					font-size: 64px;
					margin-right: 15px;
					
					display: inline;
				}
			  i:hover{
				color: #ff0000;
			  }
				a{
					font-family: 'Roboto Condensed';
                     font-weight: 700;
					font-style: italic;
					text-decoration: none;
                     color: #ff0000;
					text-transform: none;
					font-size: 1.25rem;
					line-height: 1.25em;
				}
			}
			.info-detail{
				font-family:'Rubik';
				font-style: normal;
				font-size: 14px;
				padding-top: 0px;
				font-weight: normal;
			}
		}
	}
}

// instagram home section
.best-instagram-feed{
	width: 100%;
	height: 100%;

	.instagram-section-title{
		text-align: center;
		color: #ff0000;
		font-weight: bold;
		font-size: 36px;
		margin-bottom: 12%;
		@media(max-width:$sm){
			font-size: 24px;
			margin-bottom: 18%;
		   }
	}
}

// who we are css

.page-title{
	width: 70%;
	height: 100%;
	background: url(../src/images/bg-tb.png);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: scroll;
	margin: 0 auto;
    padding-top: 160px;
    padding-right: 0px;
    padding-bottom: 70px;
	padding-left: 0px;
	text-align: end;
	@media (max-width:$sm){
		padding-top: 206px;
		width: 100%;
		padding-bottom: 0px;
	}
	h1{
	    font-family: 'Poppins';
    font-weight: 800;
    color: #d6002a;
    text-transform: none;
    font-size: 2rem;
    line-height: 1.15em;
	text-align: center;
	}
}

.rev-slider-wrapper{
	height: 100%;
	
	width: 70%;
	margin: 5% auto;
	display: flex;

	@media(max-width:$xl){
		flex-direction: column;
		width: 100%;
	}

	.slider-who-we-are{
		width: 70%;
		@media(max-width:$xl){
			margin: auto;
			margin-bottom: 30px;
			width: 95%;
		}
	}
    
	.infoandindustries{
		width: 30%;
		@media(max-width:$xl){
			margin: auto;
			width: 85%;
		}
		margin-left: 30px;
		display: flex;
        flex-direction: column;
		.info-company-org, .our-industries{
			display: flex;
			box-shadow: 0 0 35px rgba(2, 6, 32, 0.111);
			margin-bottom: 30px;
             background: #ffffff;
			 height: 149px;
          .company-info-left,.our-industries-left{
			  padding: 30px;
			  width: 65%;
			  display: flex;
			  
			  justify-content: center;
			  flex-direction: column;

			a{
				color: #ff0000;
				padding-bottom: 15px;
				font-size: 18px;
			}
			p{  
				font-family: 'Roboto Condensed';
				line-height: 1.4;
				display: block;
				margin-bottom: 15px;
				font-size: 13px;
				color: #8d8ea3;
				font-style: normal;
				font-weight: normal;
			}
			}
		  }
		  .company-info-right{
			  width: 35%;

			  img{
				  width: 100%;
				  height: 100%;
			  }
			  
		  }

		}
	}
	


.shopping-experience {
	width: 100%;
	height: 100%;
	h1{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 2.25rem;
		line-height: 1.2em;
		padding-bottom: 20px;
		text-align: center;
		@media(max-width:$lg){
		font-size: 1.5rem;	
		}
	}
		.container-fluid .row{
	     width: 80%;
		 margin: 0 auto;
		 display: flex;
		 padding-bottom: 30px;
		 justify-content: center;
		 align-items: center;
		 @media(max-width:$md){
			width: 100%;
			}
		 p{
			font-family: 'Roboto Condensed';
			font-style: normal;
			color: #565872;
			font-size: 15px;
			line-height: 1.625em;
			font-weight: normal;
			margin-bottom: 20px;
		 }
		}
	
}



.best-for-pdf{
    padding-top: 80px !important;
    padding-bottom: 40px !important;
    background: #020620 url(../src/images/bg-main.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-size: cover !important;
	text-align: center;
	z-index: 90;
	width: 100%;
	height: 100%;
	padding-left: 352px!important;
	padding-right: 352px!important;

	@media(max-width:$xl){
		padding-left: 10px!important;
	padding-right: 10px!important;	
	}
}

.best-for-pdf .best-for-link-brochure {
	
			color: #00a914;
			text-decoration: none;
			margin-bottom: 30px;
			display: block;
			
		
	}

	// franchise page css
	.franchise-banner{
		width: 70%;
		height: 100%;
		margin: auto;
    padding-top: 100px !important;
    margin-bottom: 150px 0!important;
    background-image: url(../src/images/franchise-program-bestfor.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-size: cover !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@media(max-width:$lg){
		width: 100%;
		padding: 30px;
	}

	h2{
		font-size: 48px;
		padding: 30px;
		color: #dd3333;
		background-color: rgba(255,255,255,0.88) ;
		margin-bottom: 10%;
		@media(max-width:$md){
			font-size: 34px;
		}
		@media (max-width:$sm){
			font-size: 24px;
		}
	}
}

.franchise-desc{
	width: 100%;
	height: 100%;
	margin-top: 100px;
	@media (max-width:$sm){
		margin-top: 0px;
	}
	.container-fluid{
		width: 70%;
		margin: auto;

		@media(max-width:$md){
			width: 100%;
		}

		

		img{
			margin-top: 100px;
			margin-bottom: 30px;
		}
	}
	.franchise-desc-1,.franchise-desc-2,.franchise-desc-3{
	   margin-bottom: 30px;
	   display: flex;
	   margin-top: 60px;

	@media(max-width:$md){
		flex-direction: column;
	}

	   h3{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 1.5rem;
		line-height: 1.15em;
		width: 20%;
		@media(max-width:$md){
			width: 100%;
		}
	   }
	   ul li,p{
		font-family: 'Roboto Condensed';
		font-style: normal;
		color: #565872;
		font-size: 15px;
		line-height: 1.625em;
		font-weight: normal;
	   }
	}
	.zigzap-wrapper{
		text-align: center;
		.zigzag-inner{
			width: 70%;
			margin: auto;
    min-height: 14px;
    background: 0 repeat-x url(data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ebebeb%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E);
		}
	}
}

// blog and news page css
.blog-page-list {
	
	display: flex;
	width: 70%;
	margin: auto;
    flex-wrap: wrap;
    padding-inline-start: 0;
	list-style: none;

	 @media(max-width:1640px){
		 width: 95%;
	 }

	 @media(max-width:$xl){
		width: 70%;
	}
	@media(max-width:$md){
		width: 100%;
	}
	li {
    
		width: 100%;
	

		
		.blog-header-main{
		
		color: #ff0000;
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-style: italic;
			font-size: 1.125rem;
			line-height: 1.2em;
			display: inline;
			&:hover{
				color: #565872;
				transition: all 0.2s ease-in-out ;
			}
	  }
	
		a{
			color: #ff0000;
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-style: normal;
			display: block;
			
			text-transform: none;
			font-size: 1.125rem;
			line-height: 1.2em;
			width: 100%;
			height: 227px;
			text-decoration: none;
			
			position: relative;
			transition: all 0.2s ease-in-out 0s;
			img{
				max-width: 370px;
				height: 227px;
				background-color: transparent;

				@media(max-width:$sm){
					max-width: 340px;
				}
			}
			.after-image-overlay{
				position: absolute;
				top: 0;
				left: 0;
				width: 370px;
				height: 227px;
				display: block;
				background-image: linear-gradient(to right, #ff0000 , #000000);
				opacity: 0.8;
				@media(max-width:$sm){
				display: none;
			}
				

				&:hover{
					display: none;
					
				}
			}
		}
		
		.understrap-read-more-link{
			display: none!important;
		}
		p{
			font-size: 14px;
			color: #565872;
			font-weight: normal;
			font-style: normal;
			margin-top: 30px;
		}
	}


	
	
}

.pagination {
	width: 100%;
	color: #000000;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem;

	@media(max-width:$md){
	justify-content: center;
	margin-bottom: 30px;
	}

	a{
		color: #8d8ea3;
margin: 0 5px 0 0;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 1px;
position: relative;
display: inline-block;
min-width: 24px;
text-align: center;
font-style: normal;
	}

	 .current {
		color: #ff0000;
		margin: 0 5px 0 0;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 1px;
position: relative;
font-style: normal;

	}
}
// contact page css
.contact-form-holder{
	width: 100%;
	height: 100%;

	
		.container-fluid{
			width: 70%;
			margin: 0 auto;

			@media(max-width:$lg){
				width: 100%;
			}

			.contact-page-form-section{
				box-shadow: 0 3px 40px rgba(2, 6, 32, 0.09);
				padding: 50px;
				background: #ffffff;

				@media(max-width:$sm){
					padding:20px;
				}
				h3{
					text-align: center;
					font-family: 'Roboto Condensed';
					font-weight: 700;
					font-style: italic;
					color: #ff0000;
					text-transform: none;
					font-size: 1.5rem;
					line-height: 1.15em;
				}

				p{
					font-family: 'Roboto Condensed';
					font-style: normal;
					color: #565872;
					font-size: 15px;
					line-height: 1.625em;
					text-align: center;
					font-weight: normal;
				}
                
                #wpforms-145-field_0-container,#wpforms-145-field_1-container{
					@media(max-width:$md){
						width: 100%;
						margin-left: 0;
					}
				}


				.wpforms-field-container input, #wpforms-145-field_2{
									background: rgba(255, 255, 255, 0.07);
					font-family: 'Rubik';
					font-style: normal;
					color: #7a7a7a;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 48px;
					letter-spacing: 2px;
					padding-top: 0px;
					padding-right: 15px;
					padding-bottom: 0px;
					padding-left: 15px;
					border: 1px solid rgba(213, 214, 221, 0.6);
					border-radius: 0px;
					height: 50px;
					width: 100%;

					#wpforms-145-field_2-container{
						height: 100px;
					}
				}
				.contact-page-btn{
					background: #c6d3e3;
					height: 50px;
					width: 100%;
					font-family: 'Rubik';
					font-style: normal;
					color: #182158;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 50px;
					letter-spacing: 1px;
					padding-top: 0px;
					padding-right: 60px;
					padding-bottom: 0px;
					padding-left: 60px;
					border-top: 0px none #000000;
					border-right: 0px none #000000;
					border-bottom: 0px none #000000;
					border-left: 0px none #000000;
					border-radius: 50px;

					&:hover{
						background: #ff0000;
						color: #ffffff;
					}
				}
			}

			.contact-page-form-section-right{
				width: 100%;
				height: 100%;
				padding-top: 90px !important;
				padding-right: 50px !important;
				padding-bottom: 50px !important;
				padding-left: 50px !important;
				background-color: #f2f2f3 !important;

				@media(max-width:$sm){
					padding-top: 50px !important;
				padding-right: 20px !important;
				padding-bottom: 20px !important;
				padding-left: 20px !important;
				}
				h3{
					font-family: 'Roboto Condensed';
					font-weight: 700;
					font-style: italic;
					color: #ff0000;
					text-transform: none;
					font-size: 1rem;
					line-height: 1.15em;
					padding-bottom: 20px;
					
				}
				.phone-details,.email-details {
					padding-bottom: 16px;

					i{
						margin-right: 10px;
					}
					a{
						color: #00a914;
						text-decoration: none;
						font-size: 14px;
						
						font-family: 'Roboto Condensed';
						font-style: normal;
						font-weight: normal;
					}
				}
			}

		}
	
}
// google maps

.google-map-holder{
	width: 100%;
	height: 100%;
	background-color: #e9eaee !important;
	padding-top: 65px;
	padding-bottom: 170px;

	@media(max-width:$sm){
		padding-bottom: 30px;
	}
	  
	h2{
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		color: #ff0000;
		text-transform: none;
		font-size: 42px;
		line-height: 1.15em;
		text-align: center;
		padding-bottom: 40px;
		@media(max-width:$md){
			font-size: 34px;
		}
	}
	iframe{
		width: 70%;
		margin: 0 auto;
		height: 470px;
		display: flex;
		justify-content: center;
		padding-bottom: 30px;

		@media(max-width:$sm){
			width: 100%;
		}
	}
	}

.map-locations{
	width: 100%;
	height: 100%;


	ul{
		display: flex;
		flex-wrap: wrap;
		width: 75%;
		justify-content: center;
        padding-inline-start: 0;
		@media(max-width:$lg){
			width: 100%;
		}
		li{
			width: 284px;
			display: table-cell;
    text-align: center;
    padding: 30px;
    border: 1px solid #e9eaee;
    vertical-align: middle;
    background: #ffffff;
	@media(max-width:$sm){
			width: 314px;
	}
	   &:hover{
		   transform: scale(1.1);
		   box-shadow: 0 3px 40px rgba(2, 6, 32, 0.09);
		   transition:transform 0.3s ease-in-out;
	   }

	   .icon-address-map{
		   font-size: 36px;
	   }

	   .map-location-details{
		   h3{
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-style: italic;
			color: #ff0000;
			text-transform: none;
			font-size: 1.5rem;
			line-height: 1.15em;
			margin-bottom: 20px;
		   }
		   p{
			   font-size: 14px;
			   font-family: 'Roboto Condensed';
			   font-style: normal;
			   color: #565872;
			   font-weight: normal;
		   }
	   }
		}
	}
}


// homepage our news css
.our-news-on-home{
	width: 100%;
	height: 100%;
	h2{
		text-align: center;
		color: #ff0000;
		font-family: 'Roboto Condensed';
		font-weight: 700;
		font-style: italic;
		text-transform: none;
		font-size: 2.25rem;
		line-height: 1.2em;
		margin-bottom:70px;

		@media(max-width:$md){
			font-size: 1.3rem;
			margin-bottom: 20px;
		}
	}

	#latest-news-wrapper{
		width: 100%;
	}
	.container-fluid{
		
		display: flex;
		justify-content: center;
		width: 70%;
         
		@media(max-width:$lg){
			width: 100%;
		}
   
		.row{

		
				.image-container{
					position: relative;
					display: block;
                    width: 100%;
				    height: 227px;
					margin-bottom: 30px;
					&:hover{
						box-shadow: 0 0 35px rgba(0, 2, 35, 0.2);
						transform:translateY(-20px);
						transition: all 0.2s ease-in-out 0s;
					 }
				   img{
					   object-fit: cover;
					   height: 100%;
					   width: 100%;
				   }
                   .image-info-holder {
					position: absolute;
					padding: 30px;
					top: 0;
					display: flex;
					flex-direction: column-reverse;
					justify-content: space-between;
					width: 100%;
					height: 100%;
				    align-items: flex-start;
                    background-image: linear-gradient(to right,red,#000);
                 	opacity: .8;
					
					 &:hover{
						background-image: none;
						transition: all 0.2s ease-in-out 0s;

						.home-news-btn{
								color: #565872;
								background: #ffffff;
								transition: all 0.2s ease-in-out 0s;
						  }
						time{
							color: #565872;
							background: #ffffff;
							transition: all 0.2s ease-in-out 0s;
						}
					 }
}
                     .home-news-btn,h3{
						font-size: 1.125rem;
						color: #ffffff;
						font-family: 'Roboto Condensed';
						font-weight: 700;
						font-style: italic;
						text-shadow: 0 1px 3px rgba(0, 0, 0, 10%);
						text-transform: none;
						z-index: 1;
						margin: 0;

						background: transparent;
					}

					time{
						padding: 0 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: #ffffff;
						height: 26px;
						border: 1px solid;
						text-transform: uppercase;
						font-size: 12px;
						letter-spacing: 1px;
						font-family: 'Roboto Condensed';
						font-style: normal;
						margin-left: 30px;
						margin-top: 30px;

					
					}
					

					.post-date-link {
						background: transparent;
						border: none;
						padding:none;
						margin: 0;
						&:hover{
                            background: transparent;
						border: none;
						padding:none;
						margin: 0;
						}
					}
					}
					  
				   }
				}
			}
		
// search results css
.all-search-article{
	display:flex;
	flex-wrap:wrap;

	.search-article{
		width: 30%;
		margin-bottom: 30px;
		padding: 0 15px;
		box-shadow: 0 0 35px rgba(2,6,32,0.07);
		background:#ffffff;
		padding: 25px 30px 20px 90px;
		margin-right:30px;

		@media(max-width:$xl){
			padding: 15px;
		}
		@media(max-width:$lg){
			width: 100%;
		}
	}
}

#search-wrapper h1{
	font-family: 'Poppins';
    font-weight: 800;
    color: #d6002a;
    text-transform: none;
    font-size: 2rem;
    line-height: 1.15em;

}
.search-article .search-individual-link{
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: italic;
	color: #ff0000 !important;
	text-transform: none;
	font-size: 16px;
    margin: 0 0 5px 0;
	line-height: 1.2em;
	display:block;
}

.search-article .entry-meta .posted-on .entry-date {
	font-size: 13px;
    color: #8d8ea3;
	font-family: 'Roboto Condensed';
    font-style: normal;
	font-weight:normal;
}
		
	
